body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.btc-display {
  background-color: rgb(116, 0, 91);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
